@adopets:registry=https://npm.pkg.github.com/adopets
//npm.pkg.github.com/:_authToken=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
legacy-peer-deps=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=221DBE14-F8A4-4887-907F-E23FADCF111D
