.ado-checkbox-checked::after {
  border-radius: 4px !important;
}

.ado-checkbox-wrapper span:nth-child(2) {
  line-height: 100%;
  padding-inline-end: 0px;
}

.ado-checkbox-inner:after {
  left: 3px !important;
  width: 10px !important;
  height: 10px !important;
}
.ado-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
  border-radius: 4px !important;
}

.ado-checkbox-checked .ado-checkbox-inner::after {
  content: "";
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABLSURBVHgB5Y/BCQAgDAM7ivsv5SjRPgSRFBLwIwb6KOTSJuI/AWhzek642mDYASec+z14dWKp0uXKIL/NjHZnAuhwEeLBJMSH39QAK7HgX0fZ/94AAAAASUVORK5CYII=)
    no-repeat;
  background-size: 100% 100%;
  border: 0px solid transparent !important;
  width: 16px !important;
  height: 16px !important;
  transform: rotate(0deg) scale(1) translate(-10%, -50%) !important;
}

.ado-checkbox-indeterminate .ado-checkbox-inner:after {
  left: 3px !important;
  width: 12px !important;
  height: 2px !important;
}

.ado-checkbox-disabled .ado-checkbox-inner::after {
  content: "";
  left: 4px !important;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACDSURBVHgB3ZDdDUAwFIXPrdijRrEBO0jERMISbGAU9pC0UqLR9Ed54z7ek+/LPRf4/BAeTtsOnCU0gQF1VWTsFUzg5y5aYMCERawyV/uoCi64acpFC7p+nNUt1yAGNitIcJbSpIBYWF/g63cHa4FLArGnQdgQWJIjDcKWwJB4nvrD2QCiVl7RFKJXeAAAAABJRU5ErkJggg==") !important;
  background-size: 100% 100%;
  border: 0px solid transparent !important;
  transform: rotate(0deg) scale(1) translate(-10%, -50%) !important;
}

.ado-checkbox-checked .ado-checkbox-inner {
  @apply border-@stroke-brand-primary bg-@brand-primary;
}

.ado-checkbox-disabled .ado-checkbox-inner {
  @apply bg-@surface-disabled-dark border-0;
}

.ado-checkbox-indeterminate .ado-checkbox-inner {
  @apply border-@stroke-brand-primary bg-@brand-primary;
}

.ado-checkbox-indeterminate .ado-checkbox-inner:after {
  transform: translate(0%, -50%) scale(1);
}
